.rockets-container {
  padding: 100px;
  margin-top: auto;
  font-family: Montserrat, sans-serif;
}

.navigation {
  margin-bottom: 20px;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  color: #7f92a7;
  text-decoration: none;
  
}

.nav-link:hover {
  text-decoration: underline;
}

.active-link {
  text-decoration: underline;
  font-weight: bold;
}

.rocket-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.rocket-item {
  position: relative; 
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(242, 236, 236, 0.85); 
  overflow: hidden; 
}

.rocket-name {
  text-align: center; 
}

.rocket-description {
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-family: Montserrat, sans-serif;
}
.rocket-description-container {
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rocket-image {
  width: 100%; 
  height: 300px; 
  margin: 0; 
  padding: 0; 
}

.rocket-info {
  position: absolute; 
  top: 50%; 
  left: 0; 
  transform: translateY(-50%); 
  width: 100%; 
}

.rocket-item::after {
  content: ''; 
  display: block; 
  height: 20px; 
}
