.rocket-image {
    width: 200px; 
    height: 200px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  

  .rocket-image:hover {
    transform: scale(1.05); 
  }
  